.navbar {
  height: 90px;
  z-index:10;
}

.bg-light{
  background-color: white !important;
}

.nav-link{
  padding-left: 1.5rem !important ;
}

.logo{
  height: 4.5rem;
}

.carousel .carousel-item {
  height: 90vh;
}

.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  max-width:100%;
  max-height:100%;
}